
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="tf-graph">
  <template>
  <style include="iron-flex-alignment iron-flex iron-flex-factors paper-material-styles iron-positioning">
  .container {
    width: 100%;
  height: 100%;
    background: white;     
    border: 1px solid gray;
  }
  
   
  .vertical {
    width:100%;
    height:100%;
     

    @apply --layout-vertical;
  }
  
  .auto {
    @apply --layout-flex-auto;
    @apply --layout-vertical;
  }
  
  h2 {
    text-align: center;
  }
  
  paper-button {
    text-transform: none;
  }
  </style>
  <div class="container">
    <div class="vertical">
      <template is="dom-if" if="[[title]]">
        <h2>[[title]]</h2>
      </template>
      <graph-scene id="scene" class="auto"
            render-hierarchy="[[renderHierarchy]]"
            highlighted-node="[[_getVisible(highlightedNode)]]"
            selected-node="{{selectedNode}}"
            selected-edge="{{selectedEdge}}"
            color-by="[[colorBy]]"
            progress="[[progress]]"
            node-context-menu-items="[[nodeContextMenuItems]]"
            node-names-to-health-pills="[[nodeNamesToHealthPills]]"
            health-pill-step-index="{{healthPillStepIndex}}"
            handle-edge-selected="[[handleEdgeSelected]]"
      ></graph-scene>
    </div>
  </div>
  </template>
  </dom-module>