<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="package-info">
    <template>
        <style>
            .keyword {
                border: 1px solid var(--separator-color);
                border-radius: 3px;
                padding: 3px;
                margin: 3px;
                display: inline-block;
            }

            .mono{
                font-family: var(--mono);
            }

            .dependenciy {
                border-bottom: 1px solid var(--separator-color);

                padding: 3px;
                margin: 3px;
                display: block;
            }

            .panel-settings {
                --paper-expansion-panel-header: {
                    font-size: var(--font-size-l);
                    background: #fefeff;
                    text-transform: uppercase;
                    padding-left: var(--padding);
                    border-bottom: 1px solid var(--separator-color);
                }


                --paper-expansion-panel-content: {
                    padding: 0 var(--padding);
                }
            }

            section {
                padding: var(--padding);
            }
        </style>
        <!-- <iron-request id="apiRequest"></iron-request> -->

        <iron-ajax id="apiRequest" url="http://localhost:5000/package/[[slectedNode.nodeAttributes.package]]/[[slectedNode.nodeAttributes.version]]"
            handle-as="json" last-response="{{jsonLoaded}}" method="GET" debounce-duration="300"></iron-ajax>

        <template is="dom-if" if="[[jsonLoaded]]">


            <section class="padding">
                <!-- [[selectedNode.name]] Package: [[package.nodeAttributes.package]]/[[package.version]] -->
                <h2 class="mono"> [[jsonLoaded.name]] [[jsonLoaded.version]]</h2>

                <paper-button raised on-tap="loadGraph">load graph</paper-button>

                <!-- [[jsonLoaded.keywords]] -->
                <template is="dom-repeat" items="[[jsonLoaded.keywords]]">
                    <div class="keyword">[[item]]</div>
                </template>

                

                <!-- <template is="dom-repeat" items="[[jsonLoaded.dependencies]]">
                                    <div class="keyword">[[item]]</div>
                                </template> -->
            </section>
            <paper-expansion-panel class="panel-settings" header="Details">
                    [[jsonLoaded.description]]<br>
                    [[jsonLoaded.repository.url]]

            </paper-expansion-panel>


            <paper-expansion-panel class="panel-settings" header="Dependencies ([[outputs.length]])">
                <template is="dom-repeat" items="[[outputs]]">
                    <dependency-link item="[[item]]"></dependency-link>
                </template>
            </paper-expansion-panel>

            <paper-expansion-panel class="panel-settings" header="Is a dependendency of ([[inputs.length]])">
                <template is="dom-repeat" items="[[inputs]]">
                    <dependency-link item="[[item]]"></dependency-link>
                </template>
            </paper-expansion-panel>


        </template>

    </template>
</dom-module>


<dom-module id="dependency-link">
    <template>
        <style>
            .line {
                @apply --layout-horizontal;
                @apply --layout-center-justified;
                padding: calc( var(--padding) / 3);
                cursor: pointer;
            }

            .line:hover {
                background: var(--color-hover)
            }

    
           

            .mono{
                font-family: var(--mono);
            }

            .name {
                @apply --layout-flex;
            }

            .version {
                color: var(--color-accent);
                text-align: right;
            }
        </style>
        <div class="dependenciy line" on-mouseover="_nodeListener" on-mouseout="_nodeListener" on-click="_nodeListener">
            <span class="name mono">[[item.nodeAttributes.package]]</span>&nbsp;
            <span class="version mono">[[item.nodeAttributes.version]]</span>
        </div>
    </template>
</dom-module>