
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html" />
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html" />
<link rel="import" href="../../bower_components/paper-button/paper-button.html" />

<dom-module id="view-settings">
    <template>
        <style>
            .panel-settings {
                --paper-expansion-panel-header: {
                    font-size: var(--font-size-l);
                    background: #fefeff;
                    text-transform: uppercase;
                    padding-left: var(--padding);
                    border-bottom: 1px solid var(--separator-color);
                }


                --paper-expansion-panel-content: {
                    padding: 0 var(--padding);
                }
            }
        </style>

         
            <div>
                <label>Color graph nodes by:</label>
                <paper-menu-button class="button-padding" no-animations close-on-activate>

                    <paper-button slot="dropdown-trigger">
                        [[selectedColorBy]]</paper-button>
                    <paper-listbox slot="dropdown-content" attr-for-selected="item-name" selected="{{selectedColorBy}}">
                        <template is="dom-repeat" items="[[colorByTypes]]">
                            <paper-item item-name="[[item]]">[[item]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-menu-button>

            </div>
         


    </template>
</dom-module>